/*CSS document*/

html, body, div, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit;}
img {
	width: 100%;
	display: block;
}
body {
	background-color: rgb(246, 247, 242); /* Not totally white. */
	color: rgb(57,57,57);  /* Not totally black. */
	line-height: 140%; 	/* A little extra leading. */
	font-family: sans-serif;
}

h1 {
	background-color:rgb(153,153,167);
	color: rgb(246, 247, 242); /* Same as body background. */
	font-size: 1.8em;
	padding: 1em .6em .9em; /* You want three values. */
	font-weight: 800;
	text-transform: uppercase;
}


h2 {
	background-color: rgb(153,153,167);
	color:rgb(246, 247, 242);
	font-size: 1.4em;
	padding: .08em .8em .6em;
	font-family: serif;
	font-weight: 900;
}

h3 {
  	margin: 3em .9em .5em; /*Three values again. You got the idea.*/
	font-size: 1em;
	color:rgb(150,49,43);
	font-weight: 800;
	text-transform: uppercase;
	letter-spacing: 0.1em; /*Just an extra tracking for bold uppercase letters. Try 0.1em */
    padding-top: .5em;;
	border-top: 3px solid rgb(150,49,43);
    margin-top: 4em;
}

h4 {
    margin: 1em .9em 0; /*Three values again. You got the idea.*/
	font-weight: 600;
}

p.description {
    margin: .05em .9em 0; /*Three values again. You got the idea.*/
	font-style: italic;
}

p.price {
    margin: .1em .9em .5em; /*Three values again. You got the idea.*/
	color: rgb(150,49,43);
}

ul {
	margin: .1em .1em .1em;
}

li { 
	margin:0em 0em;
	list-style-type:none
}
